.contacts-header {
  padding: 1rem 0 0 0;
}
.contacts-header::after {
  content: "";
  background: #216b65;
  width: 10rem;
  height: 0.5rem;
  border-radius: 0.5rem;
  display: block;
  place-items: center;
  transform: translateX(11%);
}
.contacts-form {
  display: grid;
  place-items: center;
  margin: 0 0 2rem 0;
  width: 100%;
}

#plant-icon {
  width: 10%;
  height: auto;
}
