:root {
  --main-bg-color: linear-gradient(
    244.36deg,
    rgba(33, 107, 101, 0.561) 10.28%,
    rgba(33, 107, 101, 0.66) 109.64%
  );
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: rgba(240, 240, 240, 0.392);
}

#page-container {
  position: relative;
  min-height: 100vh;
}
#content-wrap {
  padding-bottom: 15rem;
}
